<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Silex Bootstrap - Admin</title>

  <meta property="fb:app_id" content="MY_FB_APP_ID"> 

  <meta property="og:title" content="Title"> 
  <meta property="og:description" content="Description">  
  <meta property="og:image" content="http://{{ app.request.host }}{{ app.request.basepath }}/img/og-image.jpg">
  <meta property="og:url" content="http://{{ app.request.host }}">
  <meta property="og:type" content="website"> 

  {# Place favicon.ico and apple-touch-icon.png in the root directory #}
  {# <link rel="icon" href="{{ app.request.basepath }}/img/favicon.jpg" /> #}

  {# CSS external files #}
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css">
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css">
</head>
<body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    
    {# Navbar #}
    {% include 'admin/block/navbar.html.twig' %}


    {# Content block #}
    <div class="container">
      {% block content %}
      {% endblock %}
      <br/>
    </div>
    
    {# Javascript external files #}
    <script src="{{ app.request.basepath }}/js/modernizr-2.6.2.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery-1.10.2.min.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    

  </body>
</html>
